@import "../fonts/Mueso/style.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 17px 31px;
  cursor: pointer;
  border-radius: 43px;
}
.btn__green {
  background: -webkit-gradient(linear, left bottom, left top, from(#077A34), to(#19E270));
  background: linear-gradient(360deg, #077A34 0%, #19E270 100%);
  -webkit-box-shadow: 0 9px 48px rgba(24, 220, 109, 0.15);
          box-shadow: 0 9px 48px rgba(24, 220, 109, 0.15);
  border: 1px solid #18DE6E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn__green:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #FFFFFF;
  color: #18DC6D;
}
.btn__red {
  background: -webkit-gradient(linear, left bottom, left top, from(#A8180F), to(#DD463D));
  background: linear-gradient(360deg, #A8180F 0%, #DD463D 100%);
  -webkit-box-shadow: 0 9px 48px rgba(211, 61, 52, 0.24);
          box-shadow: 0 9px 48px rgba(211, 61, 52, 0.24);
  border: 1px solid #E31E24;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn__red:hover {
  background: #FFFFFF;
  color: #E31E24;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  padding: 0 50px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}
.popup__call {
  width: 952px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__img {
  width: 50%;
}
.popup__form {
  width: 50%;
  padding: 80px;
}
.popup__form-title {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 25px;
  line-height: 96.5%;
  color: #0F0F10;
  white-space: nowrap;
  text-align: center;
}
.popup__form-desc {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #0F0F10;
  margin: 5px 0 40px;
  text-align: center;
}
.popup__form-input {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 48px rgba(49, 47, 47, 0.1);
          box-shadow: 0 5px 48px rgba(49, 47, 47, 0.1);
  border-radius: 43px;
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 52px;
  padding-left: 32px;
  outline: none;
  margin-bottom: 15px;
}
.popup__form-input:invalid {
  border: 1px solid #E31E24;
  color: #E31E24;
}
.popup__form-input::-webkit-input-placeholder {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #E31E24;
}
.popup__form-input::-moz-placeholder {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #E31E24;
}
.popup__form-input:-ms-input-placeholder {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #E31E24;
}
.popup__form-input::-ms-input-placeholder {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #E31E24;
}
.popup__form-input::placeholder {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #E31E24;
}
.popup__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  margin-bottom: 15px;
}
.popup__form-label input:not(:checked) + .popup__form-label-text span {
  color: #E31E24;
}
.popup__form-label-text {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #0F0F10;
}
.popup__form-date {
  width: 50%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 5px 48px rgba(49, 47, 47, 0.1);
          box-shadow: 0 5px 48px rgba(49, 47, 47, 0.1);
  border-radius: 43px;
  border: 1px solid #FFFFFF;
  padding: 0 15px;
  outline: none;
}
.popup__test {
  width: 896px;
}
.popup__test .popup__form-title {
  margin-bottom: 45px;
}
.popup__test .popup__form-label-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.popup__test .popup__form-label-date span {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #0F0F10;
}
.popup__rent {
  width: 896px;
}
.popup__rent .popup__form-title {
  margin-bottom: 45px;
}
.popup__rent .popup__form-label-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.popup__rent .popup__form-label-date span {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #0F0F10;
}

.header__top {
  padding: 30px 0;
  background: #172027;
}
.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
}
.header__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.header__top-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-tel {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.header__top-icon {
  cursor: pointer;
}
.header__top-icon svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__top-icon svg path:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #18DC6D;
}
.header__bottom {
  padding: 14px 0;
  background: #F2F2F3;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #0F0F10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__link:hover {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #E31E24;
}

.begin {
  padding: 180px 0 81px;
  background: url("../images/bg.png") center/cover no-repeat;
  position: relative;
}
.begin::before {
  content: "";
  background: linear-gradient(81.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.begin__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
  position: relative;
  z-index: 3;
}
.begin__content {
  width: 50%;
}
.begin__img {
  width: 100%;
}
.begin__title {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 44px;
  line-height: 96.5%;
  color: #FFFFFF;
}
.begin__desc {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 20px 0 26px;
}
.begin__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}
.begin__btn {
  padding: 17px 85px;
}
.begin__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  position: relative;
  z-index: 2;
}
.begin__bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.begin__bottom-text {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.autos {
  padding: 100px 0;
}
.autos__title {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 35px;
  line-height: 96.5%;
  color: #0F0F10;
  margin-bottom: 70px;
}
.autos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.autos__card {
  width: calc(33.33333% - 13.33333px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
          box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
  border-radius: 10px;
}
.autos__card-img {
  width: 100%;
}
.autos__card-info {
  padding: 37px;
}
.autos__card-title {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 25px;
  line-height: 96.5%;
  color: #0F0F10;
  margin-bottom: 30px;
}
.autos__card-btn {
  margin-top: 32px;
  padding: 17px 90px;
}
.autos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.autos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.autos__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  width: 60%;
}
.autos__item-info {
  font-family: "Museo Sans Cyrl 700", sans-serif;
  font-size: 18px;
  line-height: 111%;
  color: #0F0F10;
}
.autos__item-right {
  width: 40%;
}
.autos__item-text {
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 18px;
  line-height: 111%;
  color: #0F0F10;
}
.autos__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto 0;
}